<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <div  class="home">
     
      <img src="/1989.png" alt="1989O" width="500" height="500" />
      <p>
        When Barack began working at law firm Sidley Austin LLP in 1989, he was
        assigned Michelle (née Robinson) as his mentor. Michelle recalled to ABC
        News in 2008, "Because I went to Harvard and he went to Harvard, and the
        firm thought, 'Oh, we'll hook these two people up.'"
      </p>
      <img src="/Proposal.png" alt="proposal" width="500" height="500" />
      <p>
        <b>On July 31, 1991</b>, Barack and Michelle went out to Gordan's Restaurant in
        Chicago to celebrate Barack passing the bar exam. But the night turned
        into more than just a dinner date—there was a proposal! Michelle
        explained the simple, romantic engagement in her book Becoming: "As we
        were reaching the end of the meal, Barack smiled at me and raised the
        subject of marriage. He reached for my hand and said that as much as he
        loved me with his whole being, he still didn't really see the point.
        Instantly, I felt the blood rise in my cheeks. It was like pushing a
        button in me—the kind of big blinking red button you might find in some
        sort of nuclear facility surrounded by warnings signs and evacuation
        maps. Really? We were going to do this now?" She continued, "Eventually,
        our waiter came around holding a dessert plate, covered by a silver lid.
        He slid it in front of me and lifted the cover. I was almost too miffed
        to even look down, but when I did, I saw a dark velvet box where the
        chocolate cake was supposed to be. Inside was a diamond ring. Barack
        looked at me playfully. He'd baited me. It had all been a ruse. It took
        me a second to dismantle my anger and slide into joyful shock. He'd
        riled me up because this was the very last time he would invoke his
        inane marriage argument, ever again, as long as we both should live."
      </p>
      <img src="/kids.png" alt="family" width="500" height="500" />
      <p>
        Nearly three years after welcoming daughter Malia, Barack and Michelle
        gave birth to their second daughter, Natasha (Sasha) Obama, on June 10,
        2001.
      </p>
      <img src="wins.png" alt="wins" width="500" height="500" />
      <p>
        After 21 months of campaigning, Barack Obama was elected the 44th
        president of the United States. But during his acceptance speech in
        front of a giant crowd in Chicago on election night, he had one person
        to thank: his wife Michelle. "I would not be standing here tonight
        without the unyielding support of my best friend for the last 16 years,
        the rock of our family and the love of my life, our nation’s next first
        lady, Michelle Obama," he said.
      </p>
      <img src="/First family.png" alt="firstFamily" width="500" height="500" />
      <p>
        Barack's inauguration was held on January 20, 2009, marking the Obama
        family's official move into the White House. But it was during one of
        the Inaugural Ball's that the political duo really stole the nation's
        heart. Asked the president and first lady danced to "At Last" (performed
        by Beyoncé!), Barack asked the crowd, "First of all, how good-looking is
        my wife?"
      </p>
      <img src="/a-promised-land-barack-obama.png" alt="book" width="600" height="600" />
      <p>
       <b>CNN</b> has released excerpts from the former president’s upcoming memoir, A
        Promised Land, (due out sometime this month) that reveal that his and
        Michelle’s time in the White House put a strain on their marriage. "And
        yet, despite Michelle's success and popularity, I continued to sense an
        undercurrent of tension in her, subtle but constant, like the faint
        thrum of a hidden machine," one excerpt reads. "It was as if, confined
        as we were within the walls of the White House, all her previous sources
        of frustration became more concentrated, more vivid, whether it was my
        round the clock absorption with work, or the way politics exposed our
        family to scrutiny and attacks, or the tendency of even friends and
        family members to treat her role as secondary in importance." There was
        one thing Obama wrote that really broke our hearts:. "...lying next to
        Michelle in the dark, I'd think about those days when everything between
        us felt lighter, when her smile was more constant and our love less
        encumbered, and my heart would suddenly tighten at the thought that
        those days might not return." Michelle told People in 2019, that since
        exiting the White House, the two have really spent time finding each
        other again and focusing on the reasons they initially fell in love.
      </p>
    </div>
  </body>
</html>
