<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets.css">
    <title>Home</title>
</head>
<body>
    <nav class="nav">
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href="/works">Works</a>
</nav>
<div class="home">
<h2>The Obama´s Marriage</h2>
<img src="/obama.webp" alt="photoOfBoth" width="1000" height="800">
<p>Barack and Michelle Obama spent eight years in the White House, modeling a loving, happy relationship for the country and world. <br>But their love story goes back 
    way further than that, to their days at a Chicago law firm that eventually led to a first date, a family, and a partnership admired by millions. </p>
</div>
</body>
</html>