<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href="/works">Works</a>
    </nav>
    <div class="home">
        
        <h1>Michelle Obama</h1>
        <img src="/michelleObama.jpg" alt="Obamaswork" width="500" height="500">
        <h1>Early life and career</h1>
        <p>Michelle LaVaughn Robinson Obama (Chicago, 17 de enero de 1964) es una abogada, administradora universitaria y escritora estadounidense que se desempeñó como primera dama de los Estados Unidos de 2009 a 2017. Está casada con el cuadragésimo cuarto presidente de los Estados Unidos, Barack Obama, y fue la primera primera dama afroamericana en la historia de ese país.

            Criada en el área sur de Chicago (Illinois), Obama se graduó en la Universidad de Princeton y en la Facultad de Derecho de Harvard. En los primeros años de su carrera legal, trabajó en la firma de abogados Sidley Austin en Chicago, donde conoció a Barack Obama. Posteriormente trabajó en organizaciones sin fines de lucro y como la decana asociada de Servicios Estudiantiles en la Universidad de Chicago y Vicepresidenta de Asuntos Comunitarios y Externos del Centro Médico de la Universidad de Chicago.1​ Michelle se casó con Barack en 1992 y tienen dos hijas.
            
            Obama hizo campaña por la candidatura presidencial de su esposo durante 2007 y 2008, pronunciando un discurso en la Convención Nacional Demócrata de 2008. Ella volvió a hablar por él en la Convención Nacional Demócrata de 2012. Durante la Convención Nacional Demócrata de 2011 en Filadelfia, pronunció un discurso en apoyo a la candidata presidencial demócrata, Hillary Clinton, ex primera dama.2​
            
            Como primera dama, Obama sirvió como un modelo a seguir para las mujeres, y trabajó como defensora en la concientización de la pobreza, la educación, la nutrición, la actividad física y la alimentación saludable. Ella apoyó a los diseñadores estadounidenses y fue considerada un ícono de la moda.3​4​</p>
        <h1>Barak Obama</h1>
        <img src="/obamaswork.jpg" alt="Obamaswork" width="500" height="500">
        <h1>Early life and career</h1>
        <h1>Law Career</h1>
        <ol>
            <li>Community organizer and Harvard Law School</li>
            <li>University of Chicago Law School and civil rights attorney</li>
        </ol>
        <h1>Legislative career</h1>
        <ol>
            <li>Illinois Senate (1997–2004)</li>
            <li>2004 U.S. Senate campaign</li>
            <li>U.S. Senate (2005–2008)</li>
        </ol>
        <h1>Presidency (2009–2017)</h1>
    </div>
   
</body>
</html>